{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Design Studio</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-clean-work.css' %}" rel="stylesheet">


    </head>
<body>
    

    {% block content %}
    {% endblock %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 d-flex align-items-center mb-4 pb-2">
                    <div>
                        <img src="{% static 'images/bubbles.png' %}" class="logo img-fluid" alt="">
                    </div>

                    <ul class="footer-menu d-flex flex-wrap ms-5">
                        <li class="footer-menu-item"><a href="about.html" class="footer-menu-link">About Us</a></li>

                        <li class="footer-menu-item"><a href="services.html" class="footer-menu-link">Our services</a></li>

                        <li class="footer-menu-item"><a href="news.html" class="footer-menu-link">News</a></li>

                        <li class="footer-menu-item"><a href="contact" class="footer-menu-link">Contact</a></li>
                        <li class="footer-menu-item"><a href="projects.html" class="footer-menu-link">Projects</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                    <h5 class="site-footer-title mb-3">Our Services</h5>

                    <ul class="footer-menu">
                        <li class="footer-menu-item">
                            <a href="#" class="footer-menu-link">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                               Education and Training
                            </a>
                        </li>

                        <li class="footer-menu-item">
                            <a href="#" class="footer-menu-link">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                               Application Development
                            </a>
                        </li>

                        <li class="footer-menu-item">
                            <a href="#" class="footer-menu-link">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                             3D printing and scanning
                            </a>
                        </li>

                        <li class="footer-menu-item">
                            <a href="#" class="footer-menu-link">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                CAM/CAD services
                            </a>
                        </li>

                         <li class="footer-menu-item">
                            <a href="#" class="footer-menu-link">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                Prototyping and testing
                            </a>
                        </li>

                        <li class="footer-menu-item">
                            <a href="#" class="footer-menu-link">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                Software developent
                            </a>
                        </li>

                        <li class="footer-menu-item">
                            <a href="#" class="footer-menu-link">
                                <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                                CNC Machining and Laser Cutting
                            </a>
                        </li>  
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                    <h5 class="site-footer-title mb-3">Office</h5>

                    <p class="text-white d-flex mt-3 mb-2">
                        <i class="bi-geo-alt-fill me-2"></i>
                       Dar Es Salaam Institute for Technology’s Teaching Tower, at the 7th floor.
                    </p>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone-fill me-2"></i>

                        <a href="tel:  +255718894449" class="site-footer-link">
                             +255718894449
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope-fill me-2"></i>

                        <a href="mailto:info@company.com" class="site-footer-link">
                            ngushwaijoel@gmail.com
                        </a>
                    </p>

                    

                        <li class="social-icon-item">
                            <a href="https://web.facebook.com/DITDESIGNSTUDIO/?_rdc=1&_rdr" class="social-icon-link button button--skoll">
                                <span></span>
                                <span class="bi-facebook"></span>
                            </a>
                        </li>



                         <li class="social-icon-item">
                            <a href="https://www.linkedin.com/company/dit-designstudio" class="social-icon-link button button--skoll">
                                <span></span>
                                <span class="bi-linkedin"></span>
                            </a>
                        </li>


                        <li class="social-icon-item">
                            <a href="https://www.instagram.com/ditdesign2019" class="social-icon-link button button--skoll">
                                <span></span>
                                <span class="bi-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 col-6 mt-3 mt-lg-0 mt-md-0">
                    <div class="featured-block">
                        <h5 class="text-white mb-3">Service Hours</h5>

                        <strong class="d-block text-white mb-1">Mon - Fri</strong>

                        <p class="text-white mb-3">8:00 AM - 5:30 PM</p>

                        <strong class="d-block text-white mb-1">Sat</strong>

                        <p class="text-white mb-0">6:00 AM - 2:30 PM</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <p class="copyright-text mb-0">Copyright © DIT Design Studio.</p>
                    </div>
                    
                    <div class="col-lg-6 col-12 text-end">
                        <p class="copyright-text mb-0">
                        // Designed by <a href="https://joyceflavian@gmail.com" target="_parent">Joy-Team</a> //</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/animated-headline.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>